
@{
    ViewData["Title"] = "Trabajadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

@{
    string getNombre(string nombre)
    {
        return nombre;
    }

}


<p class="Mame">Bienvenido a la pagina web @getNombre("Aguilar")</p>
<input type="button" value="Enviar" id="button1">

<table class="table table-striped">
    <tr>
        <th>Cod.</th>
        <th>Nombre</th>
        <th>Grupo</th>
        <th>Cuerpo</th>
    </tr>
    <tbody id="results">
    </tbody>

</table>


