@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <h1>Registro Completado</h1>
<p>
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Haga click aqui para confirmar su cuenta administrativa</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
