@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Cambio de contraseña valido";
}

<div class="container-profile">
<h1>@ViewData["Title"]</h1>
<p>
    Su contrasela ha sido cambiada. Por favor <a asp-page="./Login">haga clik aqui para conectarse</a>.
</p>
</div>